extends layout

block content
  h1= title
  p= "Are you sure to delete " + deployed
  form#formDelete(name="delete Repository",method="post",action="/deleterepository",value=deployed)
    input#input(ype="text", name="deployed",value=deployed,readonly="readonly")
    button#btnSubmit(type="submit") delete
  