extends layout

block content
  h1= title
  form#formAddUser(name="addrepository",method="post",action="/addrepository")
    input#inputUserName(type="text", placeholder="url", name="url")
    button#btnSubmit(type="submit") submit
