extends layout

block content
  h1= title
  form#formAddUser(name="Add Repository",method="post",action="/addrepository")
    input#inputName(type="text", placeholder="name", name="name")
    input#inputUrl(type="text", placeholder="url", name="url")
    button#btnSubmit(type="submit") add
  //- ul
  //-   each val in deployments
  //-       li= val.metadata.name+" status="+ val.status.conditions
  //-   else
  //-       li There are no application.
  p
  - var n = 0;
  case deployments.length
    when 0
      li There are no application.
    default
      ul
        while n <  deployments.length
          li=deployments[n].metadata.name +" available = "+ deployments[n].status.readyReplicas+"/"+deployments[n].status.replicas+" port = "+ ports[n].spec.ports[0].nodePort
          - n++

  p
  form#formAddUser(name="Delete Repository",method="post",action="/confirmation")
    input#inputUserName(type="text", placeholder="name", name="name")
    button#btnSubmit(type="submit") delete
  






//-   <ul>
//-       <%
//-         var list = '';
//-         for (i = 0; i < userlist.length; i++) {
//-           list += '<li><a href="mailto:' + userlist[i].email + '">' + userlist[i].username + '</a></li>';
//-         }
//-         return list;
//-       %>
//-     </ul>